In [2]:
import pandas as pd

In [32]:
Flourishing_result = pd.read_csv('../processed_output/Flourishing_result.csv')

In [33]:
Flourishing_result[:5]

   uid  pre_score  post_socre  Flourishing_score
0  u00       48.0        45.0               46.5
1  u01       45.0        46.0               45.5
2  u02       46.0        44.0               45.0
3  u03       34.0        31.0               32.5
4  u04       27.0        33.0               30.0

In [34]:
Flourishing_result = Flourishing_result.drop(columns = ['Flourishing_score'])
Flourishing_result[:5]

   uid  pre_score  post_socre
0  u00       48.0        45.0
1  u01       45.0        46.0
2  u02       46.0        44.0
3  u03       34.0        31.0
4  u04       27.0        33.0

In [35]:
features = pd.read_csv('data/all_features_without_outliers.csv')
features = features.iloc[:,1:]
features = features.fillna(0)
features[:5]

,uid,activity_mean,activity_var,audio_mean,audio_var,bluetooth_sum,bluetooth_var,bluetooth_mean,bluetooth_day_num,conversation_sum,...,phonecharge_var,phonecharge_mean,phonecharge_day_num,phonelock_sum,phonelock_var,phonelock_mean,phonelock_day_num,in_time_second,near_time_second,in_all_percentage
0,u00,826.575758,248703.12300,32234.16667,1.515808e+08,2541,493.857802,44.578947,57,1452341,...,1.946933e+08,2929.609756,41,1669500,3.036655e+08,7350.618852,61,4568258,1085019,0.808073
1,u01,679.114754,71643.87208,34519.85246,3.015523e+08,1009,226.033857,17.701754,57,1590217,...,7.467100e+07,1395.520833,36,2065890,4.918159e+08,9569.412281,57,4079077,1399765,0.744514
2,u02,503.880597,36449.44843,23871.16418,2.023952e+08,3526,608.668503,53.424242,66,1173084,...,7.418625e+07,1960.041667,60,968785,2.001695e+08,4545.062500,60,5405496,294698,0.948300
3,u03,109.166667,15502.76852,4866.37037,1.487028e+07,518,118.622249,12.634146,41,193563,...,2.141301e+08,2459.800000,30,887594,6.076549e+08,6505.648649,37,4855821,49259,0.989958
4,u04,1211.586207,179356.27710,40499.18966,8.396290e+07,2809,592.763312,49.280702,57,1451913,...,6.747812e+07,1089.144231,52,2544245,4.742437e+08,12072.800000,55,4390038,563269,0.886284

In [36]:
features.shape

(46, 28)

In [17]:
def get_line(data):
    min_num = min(data)
    max_num = max(data)
    new_data = []
    for i in data:
        new_one = (max_num - i)/(max_num - min_num)
        new_data.append(new_one)
    return new_data

def normalization(all_data):
    #print(all_data.columns.values)
    for i in range(1,len(all_data.columns.values)):
        #print(all_data.columns.values[i])
        all_data[all_data.columns.values[i]] = get_line(all_data[all_data.columns.values[i]])
    return all_data

In [37]:
normalised = normalization(features)
normalised[:5]

,uid,activity_mean,activity_var,audio_mean,audio_var,bluetooth_sum,bluetooth_var,bluetooth_mean,bluetooth_day_num,conversation_sum,...,phonecharge_var,phonecharge_mean,phonecharge_day_num,phonelock_sum,phonelock_var,phonelock_mean,phonelock_day_num,in_time_second,near_time_second,in_all_percentage
0,u00,0.349241,0.924555,0.231950,0.664766,0.549544,0.732848,0.495022,0.264706,0.127208,...,0.262842,0.416777,0.500000,0.494530,0.647318,0.549495,0.113636,0.348794,0.348726,0.624395
1,u01,0.483003,0.980101,0.167804,0.297014,0.890670,0.894641,0.919892,0.264706,0.031609,...,0.764736,0.880553,0.608696,0.353764,0.314931,0.302449,0.204545,0.508330,0.155153,0.838135
2,u02,0.641957,0.991142,0.466649,0.540162,0.330216,0.663491,0.355197,0.000000,0.320835,...,0.766763,0.709891,0.086957,0.743367,0.830154,0.861874,0.136364,0.075746,0.834783,0.152821
3,u03,1.000000,0.997714,1.000000,1.000000,1.000000,0.959529,1.000000,0.735294,1.000000,...,0.181564,0.558807,0.739130,0.772199,0.110290,0.643577,0.659091,0.255011,0.985731,0.012731
4,u04,0.000000,0.946310,0.000000,0.830575,0.489869,0.673099,0.420698,0.264706,0.127504,...,0.794814,0.973175,0.260870,0.183892,0.345974,0.023715,0.250000,0.406917,0.669608,0.361376

In [38]:
features_and_flourishing_values = normalised.merge(Flourishing_result, on = 'uid')
features_and_flourishing_values.shape

(43, 30)

In [39]:
features_and_flourishing_values[:5]

,uid,activity_mean,activity_var,audio_mean,audio_var,bluetooth_sum,bluetooth_var,bluetooth_mean,bluetooth_day_num,conversation_sum,...,phonecharge_day_num,phonelock_sum,phonelock_var,phonelock_mean,phonelock_day_num,in_time_second,near_time_second,in_all_percentage,pre_score,post_socre
0,u00,0.349241,0.924555,0.231950,0.664766,0.549544,0.732848,0.495022,0.264706,0.127208,...,0.500000,0.494530,0.647318,0.549495,0.113636,0.348794,0.348726,0.624395,48.0,45.0
1,u01,0.483003,0.980101,0.167804,0.297014,0.890670,0.894641,0.919892,0.264706,0.031609,...,0.608696,0.353764,0.314931,0.302449,0.204545,0.508330,0.155153,0.838135,45.0,46.0
2,u02,0.641957,0.991142,0.466649,0.540162,0.330216,0.663491,0.355197,0.000000,0.320835,...,0.086957,0.743367,0.830154,0.861874,0.136364,0.075746,0.834783,0.152821,46.0,44.0
3,u03,1.000000,0.997714,1.000000,1.000000,1.000000,0.959529,1.000000,0.735294,1.000000,...,0.739130,0.772199,0.110290,0.643577,0.659091,0.255011,0.985731,0.012731,34.0,31.0
4,u04,0.000000,0.946310,0.000000,0.830575,0.489869,0.673099,0.420698,0.264706,0.127504,...,0.260870,0.183892,0.345974,0.023715,0.250000,0.406917,0.669608,0.361376,27.0,33.0

In [40]:
features_and_flourishing_values.to_csv('data/features_and_flourishing_values.csv')

In [29]:
all_features = pd.read_csv('data/all_features.csv')
all_features.shape

(49, 29)